/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
}


.hidden,.hide {
    display: none;
}
.blank75{
    display: none;
}
/* Header Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: 960px;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
}
nav button{
    display: none;
}
.menu {
    display: none;
}

.list {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}

.list ul {
    display: flex;
    list-style-type: none;
}

.list ul li {
    padding: 0 20px;
    cursor: pointer;
}

.list ul li a,
.frm a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

li:nth-of-type(5){
    font-weight: 700;
    color: #638EFF;
}
li:nth-of-type(5):hover{
    font-weight: 700;
    color: #745dff;
}





/* Main App Section */
.wrap{
    width: 100vw;
    min-height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainApp{
    display: flex;
    align-items: center;
    height: 500px;
    width: 960px;
    background-color: white;
    box-shadow: 2px 2px 45px 5px rgba(0, 0, 0, 0.1);
    outline: 1px solid white;
    
    
}
.dropArea{
    border: 1px dashed rgb(192, 192, 192);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-wrap: wrap;
}
.dropAreaContent{
    color: rgb(162, 162, 162);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.browse{
    color: #638EFF;
    font-weight: 400;
    cursor:pointer;
}

.fileBlock{
    width: 100px;
    height: 100px;
    font-size: .8rem;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: end;
    border: 1px solid rgb(192, 192, 192);

}
.fileBlock img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.fileBlock p{
   color: #638EFF;
   margin-bottom: -20px;
   width: 100px;
   text-align: center;
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileBlock:not(:has(img)) {
    background: url("./file-icon.png");
    background-size: 100px 100px;

}

.fileBlock:has(img) {
    background: transparent;
}


.sideBlock{
    width: 75px;
    height: 500px;
    background-color: #F8F8F8;
    z-index: 1;
}


.text, .file{
    font-size: 2.5rem;
    width: 75px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.text{
    color: #765CFF;
    background-color: white;
}
.file{
    color: rgb(178, 178, 178);
    background-color: #F8F8F8;
}
/* .text:hover,
.file:hover{
    background-color: white;
} */
.mainContent{
    width: 960px;
    height: 500px;
    background-color: white;
    padding: 38px 38px 50px 128px;
    position: absolute;
}
.heading{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

textarea{
    font-family: 'Roboto', sans-serif;
    width: 794px;
    font-size: 1.5rem;
    letter-spacing: .5px;
    color: #000;
    width: 100%;
    padding: 10px 0;
    border: none;
    min-height: 221px;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word; 
}
textarea::placeholder{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    /* font-size: 1.5rem; */
    font-weight: 300;
    color: rgb(171, 169, 169);
}
textarea:focus{
    outline: none;
}
.btn{
    display: flex;
    justify-content: end;
}
form button:nth-of-type(1){
    width: 230px;
    height: 60px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
form button:nth-of-type(1):hover{
    color: #745dff;
    
}
form button:nth-of-type(2){
    width: 230px;
    height: 60px;
    border: 2px solid black;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
}
form button:nth-of-type(2):not([disabled]):hover{
    border: 2px solid #745dff;
    color: #745dff;
}

form button[disabled]:nth-of-type(2) {
    pointer-events: none;
    border: 2px solid rgb(196, 196, 196);
    cursor: not-allowed;
}
.links ul{
    margin-top: 20px;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #844CFF;
    /* animation-name: myColor;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}
/* 
    @keyframes myColor {
        from {color: #844CFF;}
        to {color: #537EFF;}
      } */

/* Footer Section */
footer{
    /* position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px; */
    height: 190px;
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    margin: 0 auto;
    z-index: 1;
    font-size: .9rem;
    color: rgb(171, 168, 168);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
}

.sm{
    display: flex;
    justify-content: center;
    
}
.two{
    margin-bottom: 45px;
}
.icon a{
    padding: 0 10px;
    color: rgb(175, 175, 175);
    font-size: 1.2rem;
}




@media (max-width: 1024px) {
    


.hidden,.hide {
    display: none;
}
.blank75{
    display: none;
}
/* Header Section */
.navbar {
    /* position: absolute; */
    top: 0;
    right: 15px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: 90vw;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
}
/* .closeNav i{
    color: #000000;
    width: 100px;
} */
.menu {
    display: none;
}
.logo img{
    width: 100px;
}

.list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .8rem;
}

.list ul {
    display: flex;
    list-style-type: none;
}

.list ul li {
    padding: 0 20px;
    cursor: pointer;
}

.list ul li a,
.frm a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

li:nth-of-type(5){
    font-weight: 700;
    color: #638EFF;
}
li:nth-of-type(5):hover{
    font-weight: 700;
    color: #745dff;
}

/* Main App Section */

.wrap{
    width: 100vw;
    min-height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainApp{
    display: flex;
    align-items: center;
    height: 500px;
    width: 90vw;
    background-color: white;
    box-shadow: 2px 2px 45px 5px rgba(0, 0, 0, 0.1);
    outline: 1px solid white;
    
    
}
.mainContent{
    width: 90vw;
    height: 500px;
    background-color: white;
    padding: 38px 38px 50px 128px;
    position: absolute;
}
.sideBlock{
    width: 75px;
    height: 500px;
    background-color: #F8F8F8;
    z-index: 1;
}
.text, .file{
    font-size: 2.5rem;
    width: 75px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.text{
    color: #765CFF;
    background-color: white;
}
.file{
    color: rgb(178, 178, 178);
    background-color: #F8F8F8;
}



/* Footer Section */
footer{
    /* position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px; */
    height: 190px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    margin: 0 auto;
    z-index: 1;
    font-size: .9rem;
    color: rgb(171, 168, 168);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
}
.icon a{
    padding: 0 10px;
    color: rgb(175, 175, 175);
    font-size: 1.2rem;
}
}














@media (max-width: 768px) {


.hide {
    
    display: block;
    
}
.flex{
    position: absolute;
    background-color: white;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: black;
    font-size: 1rem;
    animation-name: topToBottom;
    animation-duration: .5s;
}
.bgWhite{
    background-color: white;
}
.flex li{
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
}
.hidden{
   display: none; 
}
.overFl{
    overflow: hidden;
}
@keyframes topToBottom {
    from{margin-top: -500px;}
    to{margin-top: 0;}
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    border: none;
    z-index: 5;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}



.nav-links ul li {
    display: block;
    margin: 10px 0px;
    cursor: pointer;
}

.nav-links {
    position: absolute;
    background: #d56565;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    height: 100vh;
    margin-right: 0px;
    width: 200px;
    top: 0;
    right: 0px;
    text-align: center;
    z-index: 2;
    transition: 0.5s;
}

.nav-links ul {
    padding: 30px;
}

.list {
    display: none;
}





/* Header Section */
.navbar {
    /* position: absolute; */
    top: 0;
    right: 15px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 90vw;
    justify-self: center;
    margin: 0 auto;
    padding-bottom: 20px;
    z-index: 1;
}
/* .closeNav i{
    color: #000000;
    width: 100px;
} */

.logo img{
    width: 80px;
    margin-top: 20px;
}

/* Main App Section */
.blank75{
    display: block;
    height: 75px;
}
.wrap{
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 470px !important;
    width: 90vw;
    background-color: white;
    box-shadow: 2px 2px 45px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    
}
.dropArea{
    margin: 60px 0;
    display: none;
}
.dropAreaContent{
    font-size: 1rem;
}
.fileBlock{
    width: 80px;
    height: 80px;
    font-size: .7rem;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: end;
    border: 1px solid rgb(192, 192, 192);

}
.fileBlock img{
    width: 80px;
    height: 80px;
}
.sideBlock{
    margin-top: -69px;
    width: 90vw;
    height:75px !important;
    /* top: 0;
    left: 10px;
    right: 10px; */
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: start;
    /* align-self: start; */
    /* justify-self: end; */
    top: 160px;
    /* right: 2.4vw; */
    /* position: absolute; */
    /* transform: rotate(90deg); */
    
}
.mainContent{
    width: 90vw;
    height: 470px !important;
    background-color: white;
    position: relative;
    padding: 20px;
}
.text, .file{
    border-radius: 5px 5px 0px 0px;
    font-size: 2.5rem;
    width: 75px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.text{
    color: #765CFF;
    background-color: white;
}
.file{
    color: rgb(178, 178, 178);
    background-color: #EBEBEB;
}


/* Footer Section */
footer{
    /* position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px; */
    height: 160px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    margin: 0 auto;
    z-index: 1;
    font-size: .9rem;
    color: rgb(171, 168, 168);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
}
.two{
    margin-bottom: 25px;
}
.icon a{
    padding: 0 10px;
    color: rgb(175, 175, 175);
    font-size: 1.2rem;
}

}